$base-color: #F7F7F7;
$base-purple-color: #6F0BBB;
$base-yellow-color: #FFD217;
$base-black-color: #232323;
$base-gray-color: #e7e7e7;
$bg-white: #fff;
:root {
  --footer-height: 47px;
  --footer-mobile-height: 57px;
  --middle-container-width: 900px;
  --home-wrapper-width: 940px;
  --app-section-height: 470px;
}

// Sass responsive mixins

@mixin bp($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (max-width: 768px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (max-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}