<template>
  <div class="container">
    <div class="wrapper ">
      <the-header/>
      <div class="NotFound">
        <img src="@/assets/main/not-found.jpg" alt="">
        <p>Page not found</p>
      </div>
    </div>
  </div>
</template>
<script>
import TheHeader from "@/layout/Home/TheHeader";
export default {
  components: {TheHeader}
}
</script>